<div class="favorites-card-wrapper" *ngIf="favoriteData as data">

  <h1 class="favorites-card-header">
    {{ data.tvShow.name }} 
  </h1>

  <a routerLink="/details/{{ data.tvShow.id }}">
    <span class="icon-info"></span>
  </a>
  <span 
    class="icon-bookmark" 
    [class.highlight]="favoritesService.favorites().includes(data.tvShow.id)"
    (click)="favoritesService.toggleFavorite(data.tvShow.id)"
  ></span>
  <span class="icon-link"></span>
  
  <img src="{{ data.tvShow.image_thumbnail_path }}" />

  {{ data.nextEpisode | json }}

  Next episode: {{ data | countdown }}

</div>
