<div class="tv-show-details-wrapper" *ngIf="tvShowDetailsData as data">

  <h1 class="tv-show-details-header">
    {{ data.tvShow.name }} 
    - {{ data.tvShow.country }} 
    - {{ data.tvShow.start_date | date: 'yyyy' }}
    <ng-container *ngIf="data.tvShow.end_date">
      - {{ data.tvShow.end_date | date: 'yyyy' }}
    </ng-container>
    <hr />
  </h1>
  <div class="tv-show-details-left">
    <img src="{{ data.tvShow.image_thumbnail_path }}" />
    <div class="tv-show-details-rating">
      Rating: {{ data.tvShow.rating }}/10 (rated by {{ data.tvShow.rating_count }} people)
    </div>
  </div>

  <div class="tv-show-details-right">
    {{ data.tvShow.description }}
  </div>

  <button 
    class="tv-show-details-back-button"
    type="button" 
    (click)="handleBack()"
  ><< Back</button>
  
</div>
