.tv-show-details-wrapper {
  display: grid;
  grid-template-areas: 
    "header header"
    "left right"
    "button .";
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  .tv-show-details-header {
    grid-area: header;
  }
  .tv-show-details-left {
    grid-area: left;
    .tv-show-details-rating {
      font-weight: 600;
      margin: 1rem 0;
    }
  }
  .tv-show-details-right {
    grid-area: right;
  }
  .tv-show-details-back-button {
    background-color: cornflowerblue;
    color: white;
    grid-area: button;
    margin-left: -0.5rem;
    width: 6rem;
  }
}