.tv-show-details-wrapper {
  display: grid;
  grid-template-areas: 
    "header header"
    "left right"
    "button .";
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  .tv-show-details-header {
    grid-area: header;
  }
  .tv-show-details-left {
    grid-area: left;
  }
  .tv-show-details-right {
    grid-area: right;
  }
  .tv-show-details-back-button {
    background-color: cornflowerblue;
    color: white;
    grid-area: button;
    width: 6rem;
  }
}